body {
    font-size: 14px; /* Smaller font size */
    margin: 0;
    background-color: floralwhite;
    padding: 0;
    font-family: Arial, sans-serif;
}

button {
    width: fit-content;
}

.filter-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}
.container {
    max-width: 98vw;
    margin: 0 auto;
    padding: 24px;
}

.add-todo input, .add-todo button {
    margin-bottom: 10px;
}

.todo-item button {
    margin-right: 10px;
}

.card-header {
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    flex-wrap: wrap;
}

.card {
    background: linear-gradient(to right, #232526, #414345);
    margin-bottom: 24px;
}

.prism-bg {
    color: white;
    border-radius: 10px;
    background-color: transparent !important;
}

.todo-item .card-body {
    background-color: linear-gradient(to right, #232526, #414345);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card-body-inner {
    background-color: linear-gradient(to right, #232526, #414345);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 5px;
    padding: 15px;

}

.todo-item .card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.todo-item .card-text {
    margin-bottom: 10px;
}

.cart-list-container {
    max-height: 700px;
    overflow-y: auto;
}

.card-lists-box {
    display: flex;
    gap: 16px;
}

#statusGroup {
    display: none;
}


/* media queries */

@media (max-width: 640px) {
    .card-lists-box {
      flex-direction: column;
    }

    .filter-header {
        flex-direction: column;
    }
  }
  